<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Page non trouvée</title>
  </head>
  <body>
    <h1>Page non trouvée</h1>
    <p>Désolé, la page que vous recherchez n'existe pas.</p>
    <p>Retourner à la <a href="/">page d'accueil</a>.</p>
  </body>
</html>
