<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('./template_ejs/head.ejs'); %>
  </head>
  <body class="crash">
    <div class="over404">
      <div class="darkOverlay"></div>
      <header>
        <h1 class="glitch" data-text="404">404</h1>
      </header>
    </div>
  </body>
</html>
