<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Chapitre <%= id %></title>
  </head>
  <body>
    <h1>Chapitre <%= id %></h1>
    <p>Contenu du chapitre <%= id %></p>
  </body>
</html>
