<!DOCTYPE html>
<html lang="fr">
  <head>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <link rel="stylesheet" href="/css/styleChat.css" />
    <link rel="shortcut icon" type="image/png" href="/assets/f1.png" />
  </head>
  <body id="logged-out">
    <section id="chat">
      <ul id="messages"></ul>
      <ul id="users"></ul>
      <form action="">
        <input id="m" autocomplete="off" /><button>Envoyer</button>
        <input id="date" type="hidden" value="" />
      </form>
    </section>
    <section id="login">
      <form action="">
        <label for="u">Pseudo</label>
        <input id="u" autocomplete="off" autofocus />
        <p>
          <button>Login</button>
        </p>
      </form>
    </section>

    <script src="/socket.io/socket.io.js"></script>

    <script>
      var socket = io();
      var i;

      //Fonctions utiles

      //Scroll vers le bas de page si l'utilisateur n'est pas remonté pour lire d'anciens messages
      function scrollToBottom() {
        if (
          $(window).scrollTop() +
            $(window).height() +
            2 * $("#messages li").last().outerHeight() >=
          $(document).height()
        ) {
          $("html, body").animate({ scrollTop: $(document).height() }, 0);
        }
      }

      //Gestion des événements

      //Connexion de l'utilisateur
      //Uniquement si le username n'est pas vide et n'existe pas encore

      $("#login form").submit(function (e) {
        e.preventDefault();
        var user = {
          username: $("#login input").val().trim(),
        };
        if (user.username.length > 0) {
          // Si le champ de connexion n'est pas vide
          socket.emit("user-login", user, function (success) {
            if (success) {
              $("body").removeAttr("id"); // Cache formulaire de connexion
              $("#chat input").focus(); // Focus sur le champ du message
            }
          });
        }
      });

      //Envoi d'un message
      $("#chat form").submit(function (e) {
        e.preventDefault();
        var message = {
          text: $("#m").val(),
          date: new Date(), // Ajoute la date actuelle au message
        };
        $("#m").val("");
        if (message.text.trim().length !== 0) {
          socket.emit("chat-message", message);
        }
        $("#chat input").focus();
      });

      //Réception d'un message
      socket.on("chat-message", function (message) {
        var date = new Date(message.date);
        var formattedDate = date.toLocaleString();
        $("#messages").append(
          $("<li>").html(
            '<span class="username">' +
              message.username +
              "</span> (" +
              formattedDate +
              ") :  " +
              message.text
          )
        );
        scrollToBottom();
      });

      //Réception d'un message de service
      socket.on("service-message", function (message) {
        $("#messages").append(
          $('<li class="' + message.type + '">').html(
            '<span class="info"><strong>SERVER</strong></span> ' + message.text
          )
        );
        scrollToBottom();
      });

      //Connexion d'un nouvel utilisateur

      socket.on("user-login", function (user) {
        $("#users").append(
          $("<li>").html(
            '<span style="text-align: center;"><strong>Bienvenue sur le chat F1_EXPRESS</strong></span>'
          ),
          $('<li class="' + user.username + ' new">').html(
            user.username + '<span class="typing">typing</span>'
          )
        );
        setTimeout(function () {
          $("#users li.new").removeClass("new");
        }, 1000);
      });

      //Déconnexion d'un utilisateur
      socket.on("user-logout", function (user) {
        var selector = "#users li." + user.username;
        $(selector).remove();
      });

      //Détection saisie utilisateur
      var typingTimer;
      var isTyping = false;

      $("#m").keypress(function () {
        clearTimeout(typingTimer);
        if (!isTyping) {
          socket.emit("start-typing");
          isTyping = true;
        }
      });

      $("#m").keyup(function () {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(function () {
          if (isTyping) {
            socket.emit("stop-typing");
            isTyping = false;
          }
        }, 500);
      });

      //Gestion saisie des autres utilisateurs
      socket.on("update-typing", function (typingUsers) {
        $("#users li span.typing").hide();
        for (i = 0; i < typingUsers.length; i++) {
          $("#users li." + typingUsers[i].username + " span.typing").show();
        }
      });
    </script>
  </body>
</html>
