<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('./template_ejs/head.ejs'); %>
  </head>
  <body>
    <div class="flex items-center justify-center h-screen">
      <div
        class="bg-white shadow-lg rounded-lg w-full max-w-md flex flex-col items-center"
      >
        <form action="/connexion" method="POST" class="w-full p-8">
          <h1 class="text-center text-sm lg:text-lg mb-8 font-bold">
            Connexion
          </h1>
          <div class="flex justify-center mb-6">
            <img
              class="w-20 h-20 mb-3 rounded-full shadow-lg"
              src="/assets/comptable.png"
              alt="Bordered avatar"
            />
          </div>
          <% if (typeof message !== 'undefined') { %>
          <p class="text-center mb-8 text-red-500"><%= message %></p>
          <% } %>
          <div class="mb-6">
            <label
              for="login"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Nom d'utilisateur</label
            >
            <input
              type="text"
              id="login"
              name="login"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Login"
              required
            />
          </div>
          <div class="mb-6">
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Mot de passe</label
            >
            <input
              type="password"
              id="password"
              name="password"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Mot de passe"
              required
            />
          </div>
          <div class="flex justify-center mt-12">
            <button
              type="submit"
              class="text-white bg-green-500 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
            >
              Se connecter
            </button>
          </div>
        </form>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
  </body>
</html>
