<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Déconnexion</title>
  </head>
  <body>
    <h1>Déconnexion</h1>
    <p>Êtes-vous sûr de vouloir vous déconnecter ?</p>
    <form action="/deconnexion" method="GET">
      <button type="submit">Déconnexion</button>
    </form>
  </body>
</html>
