<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('./template_ejs/head.ejs'); %>
  </head>
  <body class="fixBody">
    <header><%- include('./template_ejs/header.ejs'); %></header>

    <div class="h-screen flex items-center justify-center mt-5">
      <div
        class="grid mb-8 border border-gray-200 shadow-sm dark:border-gray-700 md:mt-20 md:grid-cols-5"
      >
        <figure
          class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:border-r dark:bg-gray-800 dark:border-gray-700"
        >
          <a href="/equipe/1">
            <img
              class="w-40 h-40"
              src="/assets/Ferrari.jpg"
              alt="Ferrari picture"
            />
          </a>
        </figure>
        <figure
          class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:border-r dark:bg-gray-800 dark:border-gray-700"
        >
          <a href="/equipe/2"
            ><img
              class="w-40 h-40"
              src="/assets/Mercedes.png"
              alt="Mercedes picture"
          /></a>
        </figure>
        <figure
          class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:border-r dark:bg-gray-800 dark:border-gray-700"
        >
          <a href="/equipe/3">
            <img
              class="w-40 h-40"
              src="/assets/RedBull.jpg"
              alt="RedBull picture"
            />
          </a>
        </figure>
        <figure
          class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:border-r dark:bg-gray-800 dark:border-gray-700"
        >
          <a href="/equipe/4">
            <img
              class="w-40 h-40"
              src="/assets/Williams.jpg"
              alt="Williams picture"
            />
          </a>
        </figure>
        <figure
          class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:border-r dark:bg-gray-800 dark:border-gray-700"
        >
          <a href="/equipe/5">
            <img
              class="w-40 h-40"
              src="/assets/Mclaren.png"
              alt="Mclaren picture"
            />
          </a>
        </figure>
        <figure
          class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:border-r dark:bg-gray-800 dark:border-gray-700"
        >
          <a href="/equipe/6">
            <img
              class="w-40 h-40"
              src="/assets/Alpine.png"
              alt="Alpine picture"
            />
          </a>
        </figure>
        <figure
          class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:border-r dark:bg-gray-800 dark:border-gray-700"
        >
          <a href="/equipe/7">
            <img
              class="w-40 h-40"
              src="/assets/AlfaRomeo.png"
              alt="Alpine picture"
            />
          </a>
        </figure>
        <figure
          class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:border-r dark:bg-gray-800 dark:border-gray-700"
        >
          <a href="/equipe/8">
            <img
              class="w-40 h-40"
              src="/assets/AlphaTauri.jpg"
              alt="AlphaTauri picture"
            />
          </a>
        </figure>
        <figure
          class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:border-r dark:bg-gray-800 dark:border-gray-700"
        >
          <a href="/equipe/9">
            <img
              class="w-40 h-40"
              src="/assets/AstonMartin.png"
              alt="AstonMartin picture"
            />
          </a>
        </figure>
        <figure
          class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:border-r dark:bg-gray-800 dark:border-gray-700"
        >
        <a href="/equipe/10">
          <img
            class="w-40 h-40"
            src="/assets/Haas.jpg"
            alt="Haas picture"
          />
        </a>
        </figure>
      </div>
    </div>

    <div><%- include('./template_ejs/bubbleChat.ejs'); %></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
  </body>
</html>
