<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('./template_ejs/head.ejs'); %>
  </head>
  <body class="fixBody">
    <header><%- include('./template_ejs/header.ejs'); %></header>

    <div class="h-screen flex items-center justify-center mt-5">
      <div
        class="grid mb-8 border border-gray-200 shadow-sm dark:border-gray-700 md:mb-12 md:grid-cols-5"
      >
        <figure
          class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:border-r dark:bg-gray-800 dark:border-gray-700"
        >
          <a href="/equipe/1">
            <img
              class="w-40 h-40"
              src="/assets/Ferrari.jpg"
              alt="profile picture"
            />
          </a>
        </figure>
        <figure
          class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:border-r dark:bg-gray-800 dark:border-gray-700"
        >
          <a href="/equipe/2"
            ><img
              class="w-40 h-40"
              src="/assets/Mercedes.png"
              alt="profile picture"
          /></a>
        </figure>
        <figure
          class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:border-r dark:bg-gray-800 dark:border-gray-700"
        >
          <a href="/equipe/3">
            <img
              class="w-40 h-40"
              src="/assets/RedBull.jpg"
              alt="profile picture"
            />
          </a>
        </figure>
        <figure
          class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:border-r dark:bg-gray-800 dark:border-gray-700"
        >
          <img
            class="w-40 h-40"
            src="/assets/Williams.jpg"
            alt="profile picture"
          />
        </figure>
        <figure
          class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:border-r dark:bg-gray-800 dark:border-gray-700"
        >
          <img
            class="w-40 h-40"
            src="/assets/Mclaren.png"
            alt="profile picture"
          />
        </figure>
        <figure
          class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:border-r dark:bg-gray-800 dark:border-gray-700"
        >
          <img
            class="w-40 h-40"
            src="/assets/Alpine.png"
            alt="profile picture"
          />
        </figure>
        <figure
          class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:border-r dark:bg-gray-800 dark:border-gray-700"
        >
          <img
            class="w-40 h-40"
            src="/assets/AlfaRomeo.png"
            alt="profile picture"
          />
        </figure>
        <figure
          class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:border-r dark:bg-gray-800 dark:border-gray-700"
        >
          <img
            class="w-40 h-40"
            src="/assets/AlphaTauri.jpg"
            alt="profile picture"
          />
        </figure>
        <figure
          class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:border-r dark:bg-gray-800 dark:border-gray-700"
        >
          <img
            class="w-40 h-40"
            src="/assets/AstonMartin.png"
            alt="profile picture"
          />
        </figure>
        <figure
          class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:border-r dark:bg-gray-800 dark:border-gray-700"
        >
          <img class="w-40 h-40" src="/assets/Haas.jpg" alt="profile picture" />
        </figure>
      </div>
    </div>

    <footer><%- include('./template_ejs/footer.ejs'); %></footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
  </body>
</html>
