<div class="fixed bottom-4 right-4">
  <a
    href="/chat"
    class="inline-block bg-blue-500 hover:bg-blue-600 text-white rounded-full p-4"
  >
    <i class="fas fa-comment-alt fa-lg"></i>
  </a>
</div>
