<meta charset="UTF-8" />
<title>F1 EXPRESS : L'actualité à toute vitesse</title>

<script src="https://cdn.tailwindcss.com"></script>

<link
  href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
  rel="stylesheet"
/>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/css/style.css" />
<link
  href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap"
  rel="stylesheet"
/>
<script
  src="https://kit.fontawesome.com/4b9ba14b0f.js"
  crossorigin="anonymous"
></script>

<link rel="shortcut icon" type="image/png" href="/assets/f1.png" />



